
      <header id="site_header" class="header mobile-menu-hide">
        <div class="header-content">
          <div class="site-title-block mobile-hidden">
            <div class="site-title">Marcus <span>S. Abildskov</span></div>
          </div>

          <!-- Navigation -->
          <div class="site-nav">
            <!-- Main menu -->
            <ul id="nav" class="site-main-menu">
              <li>
                <a class="pt-trigger" href="#home">Home</a><!-- href value = data-id without # of .pt-page. -->
              </li>
              <li>
                <a class="pt-trigger" href="#resume">Resume</a>
              </li>
              <li>
                <a class="pt-trigger" href="#services">Services</a>
              </li>
              <li>
                <a class="pt-trigger" href="#projects">Projects</a>
              </li>
              <li>
                <a class="pt-trigger" href="#blog">Blog</a>
              </li>
              <li>
                <a class="pt-trigger" href="#contact">Contact</a>
              </li>
            </ul>
            <!-- /Main menu -->
          </div>
          <!-- Navigation -->
        </div>
      </header>

      <div class="mobile-header mobile-visible">
        <div class="mobile-logo-container">
          <div class="mobile-site-title">Marcus S. Abildskov</div>
        </div>

        <a class="menu-toggle mobile-visible">
          <i class="fa fa-bars"></i>
        </a>
      </div>
